#console {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    margin: 0 auto; 
    width: 60%; 
    height: 100%;
    Color: White;
}

#output {
    width: 60%;
    height: 74%;
}

#user_input {
    width: 60%;
    height: 26%;
}
